.main-header {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-base);
    border-bottom: 1px solid var(--color-border);
  }
  
  .logo-img {
    height: 40px;
    width: auto;
    display: block;
  }
  
  .logo-heading {
    font-size: 1.5rem;
  }
  
  .logo-link {
    text-decoration: none;
    color: var(--color-text);
  }
  
  .logo-link:hover {
    color: var(--accent-primary);
  }

  .logo-img {
    height: 25px;
    width: auto;
    display: block;
  }
  
  .hamburger {
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .nav-links li a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
  }
  
  .nav-links li a:hover {
    color: var(--accent-primary);
  }

  .nav-links li {
    margin:0 1.5rem; /* Increases Hrizontal Spacing on Main Menu */
  }

  /* Navigation Links Default */
  .nav-links {
    list-style: none;
    gap: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fefefe; 
}

.nav-links a {
    color: #444;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #e673a0;
    text-decoration: underline;
}

  .tagline {
    margin-top: 1.5rem; margin-left: 2rem;
  }
