.main-header {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-base);
    border-bottom: 1px solid var(--color-border);
  }
  
  .logo-heading {
    font-size: 1.5rem;
  }
  
  .logo-link {
    text-decoration: none;
    color: var(--color-text);
  }
  
  .logo-link:hover {
    color: var(--accent-primary);
  }

  .logo-img {
    height: 25px;
    width: auto;
    display: block;
  }
  
  .hamburger {
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .nav-links li a:hover {
    color: var(--accent-primary);
  }

  .nav-links li {
    margin:0 1.5rem; /* Increases Hrizontal Spacing on Main Menu */
  }

  /* Navigation Links Default */

  /*Begin Mega-Menu Styles */

  .nav-links {
    display: flex;
    align-items: center;
    position: relative;
    list-style: none;
    gap: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fefefe; 
}

  .nav-links li {
    position: relative;
    list-style: none;
  }

  .has-dropdown .mega-menu {
    display: none;
    position: absolute;
    top: 100%;
 
    background: #ffffff;
    padding: 2rem;
    width: 600px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    flex-wrap: wrap;
  }

  .has-dropdown:hover .mega-menu {
    display: flex;
  }

  .mega-menu {
    transition: all 0.3s ease;
  }

  .mega-column h4 {
    margin-bottom: 0.75rem;
    font-size: 1rem;
    color: #333333;
  }

  .mega-column a {
    display: block;
    color: #666666;
    text-decoration: none;
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
  }

  .mega-column  a:hover {
    color: #000000;
  }

  .mega-column {
    flex: 1;
    padding-right: 2rem;
  }
  
/* End Mega Menu Styles */

.nav-links a {
  color: var(--color-text); /* or #444 if you prefer */
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  color: var(--accent-primary); /* or #e673a0 */
  text-decoration: underline;
}
  .tagline {
    margin-top: 1.5rem; margin-left: 2rem;
  }
